$fonts: Helvetica, sans-serif;
$bg-color: #fefefe;
$border-color: #333;
$text-color: #333;


body {
  font: 100% fonts;
  background-color: $bg-color;
  color: $text-color;
}

.hello-world {
  border: 1px solid $border-color;
  .nested {
    border: 1px solid $border-color;
    padding: 20px;
    margin: 10px;
  }
}
