<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>hello world</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-controller="ctrl.todo">

    <div class="container">
      <div
        ng-repeat="alert in alerts"
        class="alert">
        <p>
          <strong>{{alert.status}}</strong>: {{alert.statusText}}
          {{alert.config.url}}
        </p>
      </div>
    </div>

    <div class="container">
      <h1>Todos</h1>
      <ul>
        <li ng-repeat="todo in todos">
          <strong>{{todo.title}}</strong>
          <p>{{todo.description}}</p>
        </li>
      </ul>
    </div>


    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/ctrl.todo.js"></script>
    <script src="scripts/srv.todo.js"></script>
  </body>
</html>
