.todo-panel {
    border: 1px solid #ccc;
    background: #f3f3f3;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.1);
}

.todo-list {
  list-style-type: circle;
}
