body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  background-color: #abc;
  font-size: 14px;
}

section.todos,
aside {
  width: 100%;
  padding: 2.5em 2em;
  margin: 2em auto;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.25);
}
section > h1,
aside > h2 {
  margin-top: 0;
}
aside ol {
  padding-left: 20px;
}
.todo__list {
  clear: both;
  list-style-type: none;
}
.todo__item {
  margin-bottom: 0.5em;
  position: relative;
}
.todo__item__toggle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.85em 2.25em 0.85em 1em;
  background-color: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
}
.todo__item__toggle:hover {
  background-color: #d9edf7;
}
.todo__item__toggle--completed {
  text-decoration: line-through;
  background-color: rgba(0,128,0,0.15);
  border-color: rgba(0,128,0,0.2);
}
.todo__item__toggle--completed:hover {
  background-color: rgba(0,128,0,0.08);
  border-color: rgba(0,128,0,0.3);
}
.todo__new {
  margin: 1.5em 0 3em;
}
.todo__item__remove .fa {
  color: #d9534f;
}
.todo__item__star--active .fa {
  color: #46b8da;
}
